<section>
  <h2 class="home_title">Categories</h2>
  <section class="choix_categorie">
    <form action="" class="home_form">
      <input type="text" id="name" name="name" placeholder="Recherche une catégorie">
      <button class="btn--icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
      </svg>
      </button>
    </form>
  </section>
  <!-- <section class="quiz_questions-list">
    <app-question></app-question>
  </section>
  <div class="quiz_validation">
    <button (click)="goToResultPage()" class="btn">Show score</button>
  </div> -->
</section>
